@model VariousTests.WEB.Models.SolutionViewModel

@{
    ViewBag.Title = ViewBag.Name;
}

<h2>@ViewBag.Title</h2>


<table>
    @{ int i = 0;}
    @foreach (var item in Model.Questions)
    {
        <tr>
            <td>
                <div class="form-group">
                    @{ i++;}
                    <hr />
                    <label for="Name" class="col-md-10 control-label">Вопрос № @i</label>
                    <div class="col-md-10">
                        <h4>@Html.DisplayFor(modelItem => item.Name, new { @class = "form-control" })</h4>
                        @foreach (var newItem in Model.Answers)
                        {
                            if (item.Id == newItem.QuestionId)
                            {
                                <div class="col-md-10">
                                @Html.CheckBoxFor(modelItem => newItem.Right, new { @class = "form-check" })
                                @Html.DisplayFor(modelItem => newItem.Name, new { @class = "form-control" })
                                <br />
                                </div>
                            }
                        }
                    </div>
                </div>
            </td>
        </tr>
    }
</table>

@section scripts{
    <script type="text/javascript">
        $(function () {
            var check = document.getElementsByName('newItem.Right');
            var i;
            for (i = 0; i < check.length; i++) {
                check[i].checked = false;
            }
        });
    </script>
}